<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="all, follow">
        <title>
            {% block title %} {% endblock title %}
        </title>
        <!--static links-->
        {% include 'website/head.html' %}

    </head> 

    <body>
        <!--including header-->
        {% include 'website/header.html' %}
        <!--main part of the page-->
        {% block content %} {% endblock content %}
        {% include 'website/alert_msg.html' %}
        <!--including footer-->
        {% include 'website/footer.html' %}
    </body>
</html>