{% load static %}
{% with request.resolver_match.url_name as view_url %}
<!--Don't break the line in if statement, this will cause error -->
{% if view_url != 'admin-dashboard' and view_url != 'dashboard_posts' and view_url != 'pic_update_by_admin' and view_url != 'album_update_by_admin' and view_url != 'dashboard_albums' and view_url != 'dashboard_pictures' and view_url != 'dashboard_tags' and view_url != 'dashboard_users' and view_url != 'dashboard_categories' and view_url != 'dashboard_category_posts' and view_url != 'dashboard_tag_posts' and view_url != 'dashboard_user_posts' %}
<!-- navbar-->
<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light py-1 index-forward bg-white">
    <div class="container d-flex justify-content-center justify-content-lg-between align-items-center">
      <ul class="list-inline small mb-0 text-dark d-none d-lg-block">
        <li class="list-inline-item"><a class="reset-anchor" href="https://facebook.com/groups/501408263303168/"><i class="fab fa-facebook-f text-primary"></i></a></li>
        <li class="list-inline-item"><a class="reset-anchor" href="https://chat.whatsapp.com/LtU1GUrKpttAVo21YJ8FPt"><i class="fab fa-whatsapp text-primary"></i></a></li>
        <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-instagram text-primary"></i></a></li>
      </ul>
      <a class="navbar-brand" href="{% url 'kolture' %}"><img src="#" alt="" width="190"><i class="fa fa-anchor fa-fw" aria-hidden="true"></i>&nbsp; The 8th Cadet</a>
      <a class="reset-anchor text-small mb-0 h6 d-none d-lg-block" href="#">
       <small><i class="far fa-envelope mr-2"></i>admin@8cadet.com</small> </a>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light border-top border-bottom border-light">
    <div class="container">
      <ul class="list-inline small mb-0 text-dark d-block d-lg-none">
        <li class="list-inline-item"><a class="reset-anchor" href="https://facebook.com/groups/501408263303168/"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a class="reset-anchor" href="https://chat.whatsapp.com/LtU1GUrKpttAVo21YJ8FPt"><i class="fab fa-whatsapp"></i></a></li>
<!--         <li class="list-inline-item"><a class="reset-anchor" href="#"><i class="fab fa-linkedin"></i></a></li> -->
      </ul>
      <!--toggle buttons-->
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar link-->
        <ul class="navbar-nav mx-auto align-items-center">

          {% with request.resolver_match.url_name as view_url %}         
          {% if view_url == 'albums' or view_url == 'search' or view_url == 'tag_name' or view_url == 'create_album' or view_url == 'single_album' or view_url == 'upload_pictures' or view_url == 'delete_album' or view_url == 'update_album' or view_url == 'single_picture' or view_url == 'delete_picture' or view_url == 'update_picture' %}
   
          <li class="nav-item {% if view_url == 'albums' %}active{% endif %}">
            <a class="nav-link" href="{% url 'gallery:albums' %}"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Home</a>
          </li>
          <li class="nav-item {% if view_url == 'blog-home' %}active{% endif %}">
            <a class="nav-link" href="{% url 'blog-home' %}"><i class="fa fa-globe fa-fw" aria-hidden="true"></i>&nbsp; Blog</a>
          </li>
          {% elif view_url == 'user-posts' or view_url == 'blog-home' or view_url == 'add_post' or view_url == 'add_category' or view_url == 'tagged' or view_url == 'post-detail' or view_url == 'hitcount' or view_url == 'like_post' or view_url == 'update_post' or view_url == 'delete_post' or view_url == 'category' %}
          <li class="nav-item {% if view_url == 'blog-home' %}active{% endif %}">
            <a class="nav-link" href="{% url 'blog-home' %}"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Home</a>
          </li>
          <li class="nav-item {% if view_url == 'albums' %}active{% endif %}">
            <a class="nav-link" href="{% url 'gallery:albums' %}"><i class="fa fa-camera fa-fw" aria-hidden="true"></i>&nbsp; Gallery</a>
          </li>
          {% else %}
          <li class="nav-item {% if view_url == 'kolture' %}active{% endif %}">
            <a class="nav-link" href="{% url 'kolture' %}"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Home</a>
          </li>
          <li class="nav-item {% if view_url == 'blog-home' %}active{% endif %}">
            <a class="nav-link" href="{% url 'blog-home' %}"><i class="fa fa-globe fa-fw" aria-hidden="true"></i>&nbsp; Blog</a>
          </li>
          <li class="nav-item {% if view_url == 'albums' %}active{% endif %}">
            <a class="nav-link" href="{% url 'gallery:albums' %}"><i class="fa fa-camera fa-fw" aria-hidden="true"></i>&nbsp; Gallery</a>
          </li>
          {% endif %}
          {% endwith %}

          <li class="nav-item"><a class="nav-link {% if view_url == 'authors' %}active{% endif %}"
            href={% url 'authors' %}><i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp; Authors</a>
          </li>
          <li class="nav-item {% if view_url == 'about' %}active{% endif %}">
            <a class="nav-link" href="{% url 'about' %}"><i class="fa fa-info fa-fw" aria-hidden="true"></i>&nbsp; About Us</a>
          </li>
          <li class="nav-item">
              <a class="nav-link {% if view_url == 'contact' %}active{% endif %}" href="{% url 'contact' %}"><i class="fa fa-map fa-fw" aria-hidden="true"></i>&nbsp; Contact</a>
          </li>
        </ul>
        {% with request.resolver_match.url_name as view_url %} 
        {% if view_url == 'albums' or view_url == 'tag_name' or view_url == 'create_album' or view_url == 'single_album' or view_url == 'upload_pictures' or view_url == 'delete_album' or view_url == 'update_album' or view_url == 'single_picture' or view_url == 'delete_picture' or view_url == 'update_picture' %}
        <form class="form-inline" method="GET" action="{% url 'gallery:search' %}">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control" placeholder="Search..." name="q">
                <div class="input-group-append">
                    <button class="btn btn-light active" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>&nbsp;&nbsp;
        {% endif %}
        {% endwith %}

        {% with request.resolver_match.url_name as view_url %}         
          {% if view_url != 'albums' and view_url != 'search' and view_url != 'tag_name' and view_url != 'create_album' and view_url != 'single_album' and view_url != 'upload_pictures' and view_url != 'delete_album' and view_url != 'update_album' and view_url != 'single_picture' and view_url != 'delete_picture' and view_url != 'update_picture'  and view_url != 'contact'  and view_url != 'about' %}
        {% if user.is_authenticated %} 
        <span class="nav-item">
        <a class="btn btn-outline-info btn-sm mr-2 btn-block" href="{% url 'add_post' %}"> Add Post</a>
        </span>
        {% endif %}
        {% elif view_url != 'single_album' and view_url != 'search' and view_url != 'tag_name' and view_url and view_url != 'delete_album' and view_url != 'update_album' and view_url != 'delete_picture'  and view_url != 'contact'  and view_url != 'about' %}
        {% if user.is_superuser %}
        <span class="nav-item">
        <a class="btn btn-outline-info btn-sm mr-2 btn-block" href="{% url 'gallery:create_album' %}">New Album</a>
        </span>
        {% endif %}
        {% elif view_url == 'single_album'%}
   
        {% if user.is_superuser %}
        <span class="nav-item">
        <a class="btn btn-outline-info btn-sm mr-2 btn-block" href="{% url 'gallery:upload_pictures' album_name=album_name %}"> Add Picture</a>
        </span>
        {% endif %}
   
        {% endif %}
        {% endwith %}

 
        <!-- dropdown -->
        <div class="navbar-nav">
          <span class="nav-item dropdown d-block m-auto">
            <a class="nav-link dropdown-toggle ml-3" id="pages" href="#" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false" style='color:#62cec2;'> 
              {% if user.is_authenticated %}
              <img {% if request.user.profile.avatar %} src="{{request.user.profile.avatar.url}}" {% else %} src="{% static 'images/default.jpg' %}"  {% endif %} style='border-radius:50%;height:32px;width:30px;'>
              {% else %}
              <img src="{% static 'images/default.jpg' %}" alt="profile" style='border-radius:50%;height:30px;width:30px;'>
              {% endif %} 
              </a>
            <div class="dropdown-menu mt-2" aria-labelledby="account">
              {% if user.is_authenticated %}
              <a class="dropdown-item" href="{% url 'users:profile_update' %}">Profile</a>
              <a class="dropdown-item" href="{% url 'user_dashboard' %}">Dashboard</a>
              {% else %}
              <a class="dropdown-item" href="{% url 'users:login' %}">Log In</a>
              <a class="dropdown-item" href="{% url 'users:register' %}">Sign Up</a>
              {% endif %}
              {% if user.is_authenticated and user.is_superuser %}
              <a class="dropdown-item" href="{% url 'admin-dashboard' %}"> Admin Panel</a>
              {% endif %}
              {% if user.is_authenticated %}
              <form method="post" action="{% url 'accounts:logout' %}">
                {% csrf_token %}
                <input type="hidden" name="next">
                <a class="dropdown-item" href="#">
                  <button id="signOutBtn" type="submit"
                    style='background: none!important;border: none;padding: 0!important;'>Logout</button>
                </a>
              </form>
              {% endif %}
            </div>
          </span>
          </div>
      </div>
    </div>
  </nav>
</header>


{% else %}
<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark flex-md-nowrap"
  style='background-color: #3c779a!important;'>
  <div class="container">
    <a class="navbar-brand mr-5 pr-2" href="{% url 'kolture' %}"
      style='background:none;box-shadow:none;'><i class="fa fa-anchor fa-fw" aria-hidden="true"></i>&nbsp; 8th Cadet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog-home' %}">
            <span data-feather="globe"></span>
            View Site
          </a>
        </li>
        <li class="px-lg-2 nav-item {% if view_url == 'admin-dashboard' %}active{% endif %}">
          <a class="nav-link" href='{% url 'admin-dashboard' %}'>{% if view_url == 'admin-dashboard' %}
            <span data-feather="home"></span>
            DASHBOARD
            {% else %}
            <span data-feather="home"></span>
            Dashboard
            {% endif %}
          </a>
        </li>
        <li class="nav-item {% if view_url == 'dashboard_posts' %}active{% endif %}">
          <a class="nav-link" href='{% url "dashboard_posts" %}'>{% if view_url == 'dashboard_posts' %}
            <span data-feather="book-open"></span>
            ALL POSTS
            {% else %}
            <span data-feather="book-open"></span>
            All Posts
            {% endif %}
          </a>
        </li>
      </ul>
      <div class="navbar-nav">
        <div class="nav-item dropdown">
          <a class=" nav-link dropdown-toggle" href="#" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span data-feather="smile"></span>
            {% if user.is_authenticated %}
              <img {% if request.user.profile.avatar %} src="{{request.user.profile.avatar.url}}" {% else %} src="{% static 'images/default.jpg' %}"  {% endif %}alt="profile" style='border-radius:50%;height:32px;width:30px;'>
              {% else %}
              <img src="{% static 'images/default.jpg' %}" alt="profile" style='border-radius:50%;height:30px;width:30px;'>
              {% endif %}
            Profile
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Profile</a>
            <div class="dropdown-divider"></div>
            {% if user.is_authenticated %}
              <form method="post" action="{% url 'accounts:logout' %}">
                {% csrf_token %}
                <input type="hidden" name="next">
                <a class="dropdown-item" href="#">
                  <button id="signOutBtn" type="submit"
                    style='background: none!important;border: none;padding: 0!important;'>Logout</button>
                </a>
              </form>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</nav>
{% endif %}
{% endwith %}