{% extends 'website/base.html' %}

{% block title %} 
    {% if update %} Update Picture {% else %} Upload Pictures {% endif %} 
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="submission-form">
        <h3 class="my-4">{% if update %} Update Picture {% else %} Select pictures for album {{ album_name }} {% endif %}</h3>
        <form method="post" enctype="multipart/form-data" action="">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
 </div>   
{% endblock %}
