{% extends 'website/base.html' %}

{% block title %} {{ album_name }} {% endblock %}

{% block content %}

<div class="container py-5 bg-light">
	<img class="g-3 w-100 justify-content-md-center" src="{{ picture.picture.url }}" style="height: 780px;"  preserveAspectRatio="xMidYMid slice" focusable="false" fill="#55595c">
	<p class="px-2">{{ picture.description }}</p>
	<div class="row my-2 px-2">
		<div class="col-9 text-left">
			<b>Tags:</b>&nbsp;
			{% for name in picture.tags.names %}
				{% if not forloop.first %}, {% endif %}
				<a href="{% url 'gallery:tag_name' tag_name=name %}">{{ name }}</a>
			{% endfor %}
		</div>
		{% if user.is_superuser %}
		<div class="col-3 text-right">
			<a href="{% url 'gallery:update_picture' album_name=album_name pk=picture.pk %}" data-toggle="tooltip" title="Update picture"><i class="fa fa-edit"></i></a>
			<a href="{% url 'gallery:delete_picture' album_name=album_name pk=picture.pk %}" data-toggle="tooltip" title="Delete picture"><i class="fa fa-trash"></i></a>
	    </div>
	    {% endif %}
	</div>

	<div class="text-center">
			{% with prev=get_previous %}
			{% if prev %}			
			<a href="{% url 'gallery:single_picture' album_name prev.pk %}">&laquo;Previous</a>
			{% else %}
			<a href="{% url 'gallery:single_album' picture.album %}">Back</a>
			{% endif %}
			{% endwith %} 
			&nbsp;|&nbsp; 
			{% with next=get_next %}
			{% if next %}
			<a href="{% url 'gallery:single_picture' album_name next.pk %}">Next&raquo;</a>
			{% else %}
			<a href="{% url 'gallery:single_album' picture.album %}">Back</a>
			{% endif %} 
			{% endwith %}
		</div>
	<!-- <div class="fb-comments pr-3" data-href="{{ request.build_absolute_uri }}" data-numposts="3" width="100%"></div> -->
</div>
{% endblock %}

