{% extends 'website/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Admin Update
{% endblock %}
{% block content %}
<div class="container-fluid">
    {% if request.resolver_match.url_name == 'album_update_by_admin' %}
       <div class="card text-center mt-3" style='top:10rem;'>
        <div class="card-header">
            Update Album
        </div>
        <form method="post" enctype="multipart/form-data" >
                {% csrf_token %}
        <div class="card-body">
                <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    {{form | crispy}}
                </div>
                <div class="col-4"></div>
                </div>
            <a href="{% url 'admin-dashboard' %}" class="btn btn-outline-info">Cancel</a>
            <button type='submit' class="btn btn-info">Update</button>
        </div>
        </form>
        </div>
    {% elif request.resolver_match.url_name == 'pic_update_by_admin' %}
         <div class="card text-center mt-3" style='top:1rem;'>
            <div class="card-header">
            <h3 class="my-4">You are updating the following picture:</h3>
            <img src="{{ object.picture.url }}" style="width: 200px;">
            </div>
            <form method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="card-body">
                    <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        {{ form|crispy }}
                    </div>
                    <div class="col-4"></div>
                    </div>
                    <br>
                <a href="{% url 'admin-dashboard' %}" class="btn btn-outline-info">Cancel</a>
                <button type='submit' class="btn btn-info">Update</button>
            </div>
            </form>
        </div>

    {% else %}

         <div class="card text-center mt-3" style='top:10rem;'>
        <div class="card-header">
            Update Category
        </div>
        <form method="post">
        {% csrf_token %}
        <div class="card-body">
                <div class="row">
                <div class="col-4">
                    {{form | crispy}}
                </div>
                <div class="col-4"></div>
                </div>
            <a href="{% url 'admin-dashboard' %}" class="btn btn-outline-info">Cancle</a>
            <button type='submit' class="btn btn-info">Update</button>
        </div>
        </form>
        </div>
    <script>
        document.querySelector('.requiredField').innerText = ''
    </script>
    {% endif %}
</div>
{% endblock content %}