{% extends "website/base.html" %}
{% load crispy_forms_tags %}
{% block gallery_navbar %}  {% endblock gallery_navbar %}

{% block content %}

<div class="col-md-8">
  <h1 class="my-4 font-italic border-bottom">
    {% block title %} Change Password {% endblock %}
  </h1>
    <form action="" method="post">
        {{ form | crispy }}    
        {% csrf_token %}
        <br>
        <button type="submit" class="btn btn-primary  btn-md">Update</button>
    </form>
</div><!-- /.blog-main -->
{% endblock %}
   