{% extends "website/base.html" %}
{% load crispy_forms_tags %}

{% block title %} Password Changed {% endblock title %}

{% block content %}
<section class='pb-5'>
    <div class="container pb-4" >
      <h3 class="text-center mt-4">Password Changed Successfuly</h3>
      <div class="p-4 bg-light">
        <div class="row align-items-center p-lg-3">
         <div class="container">
         <p class="text-center"> Your Password has been successfuly Changed</p>
         <p class="form-text text-center text-muted">You can click Here to Login.. 
            <small><a href="{% url 'users:login' %}">Login</a></small>
          </p>
         </div>
        </div>
      </div>
    </div>
</section>
{% endblock content %}
