{% extends "website/base.html" %}
{% load crispy_forms_tags %}

{% block title %} Password Recovery {% endblock title %}

{% block content %}
    <section class='pb-5'>
        <div class="container pb-4" >
          <h3 class="text-center mt-4">Send Recovery Email</h3>
          <div class="p-4 bg-light">
            <div class="row align-items-center p-lg-3">
                <div class="container">
                    <form method="post" style="padding-top: 3rem;padding-bottom:3rem;">
                        {% csrf_token %}
                        <div class='container'>
                            {{form|crispy}}
                            <div class="text-center">
                              <button class="btn btn-primary btn-lg" type="submit" style = 'font-family:cursive;'>Recover Password</button>
                            </div>
                            <div>
                             
                              <p class="form-text text-muted">Don't Have an Account? 
                                <small><a href="{% url 'users:register' %}">Register Here</a></small>
                              </p>
                              <p class="form-text text-muted">Have an Account? 
                                <small><a href="{% url 'users:login' %}">Login</a></small>
                              </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
          </div>
        </div>
    </section>
{% endblock content %}
