{% autoescape off %}
Hello Dear!

We received a password reset for {{ email }} claiming to be you.
To initiate the pasword reset process for your {{ user.get_username }} Account,
please click the link below only if you are the one that requested the reset 
or kindly ignore and delete this message.

{{ protocol}}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in your browser instead.

Sincerely,
8th Cadet
{% endautoescape %}