{% extends "website/base.html" %}
{% load crispy_forms_tags %}

{% block title %} Password Recovery {% endblock title %}

{% block content %}
    <section class='pb-5'>
        <div class="container pb-4" >
          <h3 class="text-center mt-4">Recovery Email Sent</h3>
          <div class="p-4 bg-light">
            <div class="row align-items-center p-lg-3">
             <div class="container">
             <p class="text-center"> A recovery email has been sent to your email, if its exists.</p>
             <p class="text-center"> Login to your email and follow the instructions to reset your password.</p>
             </div>
            </div>
          </div>
        </div>
    </section>
{% endblock content %}
